@font-face {
    font-family: Bree_Serif;
     src: url("assets/fonts/Bree_Serif/BreeSerif-Regular.ttf");
 }

* {
    box-sizing: border-box;
  }
html{
    scroll-behavior: smooth;
}
body{
    margin: auto;
    background-color: gainsboro;
}

p,
a,
li,
code{
   font-family:Verdana, Geneva, Tahoma, sans-serif 
}

p,
code{
    font-size: 20px;
    color: #5b5363;
}

a{
    text-decoration: none;
    color: #5b5363;
}

a:hover{
    text-decoration: underline;
}

.wrapper{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

.nav{
    display: flex;
    justify-content: end;
    border-bottom-style: solid;
    border-color: antiquewhite;
    border-width: 5px;
}

.nav-menu{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}

.link:hover{
    color: #59598e;
}

.main{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}

.about{
    display: flex;
    width: 100%;
    gap: 20%;
    align-items: center;
}
.photo{
    width: 30%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
    color: #5b5363;
}

.content{
    width: 50%;
    padding: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #272529;
    text-decoration: underline;
    text-decoration-color: antiquewhite;
    margin: 10px;
}

.code-text{
    margin-left: -160px;
    margin-top: -20px;
}

.footer{
    display: flex;
    justify-content: end;
    align-items: baseline;
    justify-content: space-around;
    border-top-style: solid;
    border-color: antiquewhite;
    border-width: 5px;
}
.image-footer{
    width: 70px;
}
